<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="test_donation" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Donation</label>
            <tab>general</tab>
            <resource>Test_Donation::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Donation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text"  sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="editor"  sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <frontend_model>Test\Donation\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="amount" translate="label" type="text"  sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Amount</label>
                </field>
                <field id="donation_sku" translate="label" type="text"  sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Sku</label>
                </field>
            </group>
        </section>
    </system>
</config>
